<div class="wrapperoverflow">

    <div [formGroup]="adminPageForm">

        <div class="container">

            <div class=" ele btn1">
                <button  class="ttbtn globalfont" mat-button (click)="goUsers()">User list</button>
            </div>

            <div class="ele btn2" >
                <button  class="ttbtn globalfont" mat-button (click)="goTodo()">My Todo List</button>
            </div>

            <div class="ele  panel1" >
                <mat-expansion-panel  >
                    <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                        <mat-panel-title class="globalfont">
                            Approve New Admin
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                  
                    <mat-form-field appearance="legacy">
                        <mat-label class="globalfont panelinput " >email</mat-label>
                        <input matInput class="globalfont panelinput" autocomplete="off" formControlName="approveEmail">
                    </mat-form-field>
                    <mat-error *ngIf="cannotAddAdmin && !approveEmail?.touched && !approveEmail?.errors?.email">
                        User doesn't exists or User has
                        already been an Admain.</mat-error>
                    <mat-error *ngIf="approveEmail?.errors?.email">Invalid email input</mat-error>
                    <mat-error *ngIf="approveEmail?.errors?.required && approveEmail?.touched && !cannotAddAdmin">email
                        input required</mat-error>
                    <button mat-button class="globalfont panelinput" [disabled]="!approveEmail?.valid " (click)="approveAdmin()">New
                        Admin</button>

                </mat-expansion-panel>

            </div>

            <div class="ele panel2">
                <mat-expansion-panel class="mtpanel">
                    <mat-expansion-panel-header [collapsedHeight]="'30px'" [expandedHeight]="'30px'">
                        <mat-panel-title class="globalfont">
                            Remove Admin
                        </mat-panel-title>
                    </mat-expansion-panel-header>


                    <mat-form-field appearance="legacy">
                        <mat-label class="globalfont panelinput">email</mat-label>
                        <input class="globalfont panelinput" autocomplete="off" matInput formControlName="removeEmail">
                    </mat-form-field>

                    <mat-error
                        *ngIf="cannotRemoveAdmin && !removeEmail?.touched && !removeAdminNotExist && !removeEmail?.errors?.email">
                        Can't remove a non-admin user or yourself.</mat-error>
                    <mat-error *ngIf="removeEmail?.errors?.email">Invalid email input</mat-error>
                    <mat-error
                        *ngIf="removeAdminNotExist && !removeEmail?.touched && !cannotRemoveAdmin && !removeEmail?.errors?.email ">
                        User not exist.</mat-error>
                    <mat-error *ngIf="removeEmail?.errors?.required && removeEmail?.touched && !cannotRemoveAdmin">
                        email input required</mat-error>

                    <button  class="globalfont panelinput"  [disabled]="!removeEmail?.valid " (click)="removeAdmin()" mat-button>Remove
                        Admin</button>

                </mat-expansion-panel>

            </div>

        </div>

    </div>

</div>