/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap";



mat-error{
    color: rgb(161, 19, 19);
    font-size: 8px;

}

.globalfont{
    font-size: 10px;
}

.noselect{
    user-select: none;
}