<button mat-icon-button (click)="goAdminPage()">
    <mat-icon>arrow_back_ios</mat-icon>
</button>


<div class="container mat-elevation-z8">
 
    <table mat-table [dataSource]="users">
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="globalfont"> User </th>
            <td mat-cell *matCellDef="let user" class="globalfont"> {{user.username}} </td>
        </ng-container>

        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="globalfont"> Email </th>
            <td mat-cell *matCellDef="let user" class="globalfont"> {{user.email}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef class="globalfont"> Role </th>
            <td mat-cell *matCellDef="let user"> 
                <div *ngIf="user.isAdmin==true" class="globalfont">Admin</div>
                <div *ngIf="user.isAdmin==false" class="globalfont">User</div>    
            </td>
        </ng-container>

        <ng-container matColumnDef="NoUser" >
            <mat-footer-cell *matFooterCellDef class="globalfont">No User Yet</mat-footer-cell>
        </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
       
     
        <tr mat-footer-row *matFooterRowDef="['NoUser']" [ngClass]="{'hide':!notEmpty}"></tr>
          
    </table>

</div>