<nav class="navbar navbar-default navbar-static-top">

    <div class="navbar-header ">

        <div class="navbar-brand globalfont ">
            <div>MyTodo</div>
        </div>


        <ul class=" nav  globalfont " *ngIf="!authService.isUserLoggedIn()">
            <ul class="breadcrumb ">
                <li><a href="/home" class="nav-link ">Pricing</a></li>
                <li><a href="/home" class="nav-link ">Source Code</a></li>
                <li><a (click)="sendanchor('contactemily')" class="nav-link ">Contact Emily</a></li>
            </ul>
        </ul>
    </div>

    <ul class="nav  navbar-right globalfont ">
        <li><a *ngIf="!authService.isUserLoggedIn()" href="/login" class="nav-link right noselect">login</a></li>
        <li><a *ngIf="authService.isUserLoggedIn()" (click)="authService.logOut()" href="" class="nav-link  right noselect">logout</a>
        </li>
    </ul>

</nav>