nav {
  /* background-color: cadetblue; */
}

.navbar {
  margin-bottom: 0px;
  padding: 0px;
  white-space: nowrap;
  min-height: 23px !important
}

.breadcrumb {
  display: inline-block;
  padding: 0px;
  margin: 5px ;
  /* background-color: cadetblue; */
}

.navbar-brand {
  display: inline-block;
  margin: 5px 10px 5px 20px;
  padding: 0px;
  height: 0px;
  line-height: 15px;
  pointer-events: none;
}

.navbar-right {
  display: inline-block;
  position: absolute;
  right: 2%;
  top: 0%;
  padding: 0;
  margin: 5px;
}

.right {
  padding: 0;
}
.right:hover {
  padding: 0;
  background-color: white;
}
a:hover {
  color: #81D8D0;
}

a {
  color: black;
  text-decoration: none;
}

.breadcrumb, .navbar-header, .navbar-brand, .container-fluid {
  white-space: nowrap;
}