
    <form [formGroup]="createTodoForm" >
        <div class="container">

        <mat-form-field appearance="legacy" class="globalfont name">
            <mat-label>Todo Name</mat-label>
            <input matInput  class="globalfont" formControlName="todoname" required>
            <mat-error *ngIf="todoname?.errors?.required">Todo name can't be empty</mat-error>
            <mat-error *ngIf="todoname?.errors?.maxlength">Todo name no more than {{todonameLimit}} chars</mat-error>
        </mat-form-field>

      

        <mat-form-field appearance="legacy" class="globalfont date">
            <mat-label>Target Date</mat-label>
            <input matInput formControlName="tododate" required class="globalfont" [min]="minDate" [max]="maxDate" [matDatepicker]="dp">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker touchUi  #dp></mat-datepicker>
            <mat-error *ngIf="tododate?.invalid">Invalid input. Please select form the build-in calander </mat-error>
            <br>
        </mat-form-field>

       <div class="slide" class="globalfont slid">
            <mat-slide-toggle 
            formControlName="isDone"   
            [color]="color"
            [checked]="checked"
            [disabled]="disabled">
        </mat-slide-toggle>
            <mat-label>  Done!</mat-label>

        </div>

        <mat-form-field appearance="legacy" class="globalfont descrip">
            <mat-label>Todo Description</mat-label>
            <textarea matInput class="globalfont" placeholder="enter todo description..." formControlName="description"></textarea>
            <mat-error *ngIf="description?.errors?.maxlength">Todo name no more than {{descriptionLimit}} chars</mat-error>
        </mat-form-field>

        <!-- <p>FromGroupValues: {{ createTodoForm.value | json }}</p> -->

        <mat-dialog-actions class="buttons">
            <button class="globalfont" mat-button mat-dialog-close (click)="cancel()">Cancel</button>
            <button class="globalfont"  mat-button [disabled]="!(todoname?.touched && todoname?.valid && description?.valid && tododate?.touched&& tododate?.valid &&createTodoForm.valid)" mat-dialog-close (click)="submit()">Submit</button>
        </mat-dialog-actions>
   
    </div>

</form>
