<form [formGroup]="loginform" (ngSubmit)="login()">
    <div class="wrapper">
        <h2 class="form-signin-heading">Please sign in</h2>

        <div formGroupName="account">
            <div class="email">
                <mat-form-field appearance="legacy">
                    <mat-label class="globalfont">Email</mat-label>
                    <!--sr-only improve accessbility by reading the content for disabilities by screen reader-->
                    <input matInput class=" globalfont" formControlName="email" #userEmail
                        (input)="inputEmail(userEmail)">
                    <mat-error *ngIf="email?.touched && email?.invalid   &&   email?.errors?.required">Email can't be
                        empty</mat-error>
                    <mat-error *ngIf="email?.touched && email?.invalid   &&   email?.errors?.email">Please enter an
                        vaild email</mat-error>
                </mat-form-field>



            </div>


            <div class="password ">

                <mat-form-field appearance="legacy">
                    <mat-label for="password" class="globalfont">Password</mat-label>

                    <input matInput [type]="hide ? 'password' : 'text'" class="globalfont" formControlName="password"
                        #userPasseord (input)="inputPassword(userPasseord)">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        type="button">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf=" password?.touched && password?.invalid   &&   password?.errors?.required">
                        Password can't be empty</mat-error>
                </mat-form-field>


            </div>

            <!-- <p>FromGroupValues: {{ loginform.value | json }}</p> -->
        </div>

        <div *ngIf="invalidLogin && !password?.touched && !email?.touched" class="mat-error">
            Invalid username and/or password.
        </div>

        <button mat-button [disabled]="!loginform.valid" class="globalfont" type="submit">Yep!</button>

        <button mat-button class="globalfont" (click)="goSignupUser()" type="button">SignUp</button>

    </div>

</form>