<form [formGroup]="loginform" (ngSubmit)="login()">
    <h2 class="form-signin-heading">Please sign in</h2>

    <div formGroupName="account">
        <div class="email">
            <label for="account">Email address</label>
            <!--sr-only improve accessbility by reading the content for disabilities by screen reader-->
            <input type="email" id="email" name="email" class="form-control" placeholder="Email address"
                formControlName="email" #userEmail (input)="inputEmail(userEmail)">
            <div *ngIf="email?.touched && email?.invalid" class="alert alert-danger">
                <div *ngIf="email?.errors?.required">Email can't be empty</div>
                <div *ngIf="email?.errors?.email">Please enter an vaild email</div>
            </div>
        </div>


        <div class="password ">

            <label for="password">Password</label>

            <div class="input-group">
                <input [type]="isShow? 'text':'password'" id="password" name="password" class="form-control"
                    placeholder="Password" formControlName="password" #userPasseord
                    (input)="inputPassword(userPasseord)">
                <div class="input-group-addon">
                    <span class="input-group-text" id="basic-addon2">
                        <i class="glyphicon glyphicon-eye-close" [class.highlight]="isShow" (click)="changeShow()"></i>
                    </span>
                </div>
            </div>


            <div *ngIf="password?.touched && password?.invalid" class="alert alert-danger">
                <div *ngIf="password?.errors?.required">Password can't be empty</div>
            </div>
        </div>

        <p>FromGroupValues: {{ loginform.value | json }}</p>
    </div>

    <div *ngIf="invalidLogin && !password?.touched && !email?.touched" class="alert alert-danger">
        Invalid username and/or password.
    </div>

    <button [disabled]="!loginform.valid" class="btn btn-lg btn-primary btn-block" type="submit">Yep!</button>

</form>