.container {
  height: 70%;
  position: absolute;
  padding: 0;
  width: 700px;
  left: 5%;
  right: 5%;
  overflow: auto;
}

table {
  width: 100%;
  margin: 0;
}

.upper {
  margin-left: 20px;
  height: 30px;
  /* border: black 1px solid; */
  padding: 0;
  width: 100%;
}





mat-footer-cell, mat-cell {
  display: flex;
  justify-content: flex-end;
  flex-direction: column !important;
  justify-content: center !important;
  border: black 1px solid;
  text-align: center;
}

/* Table Styling*/


.mat-column-name {
  white-space: nowrap !important;
  text-align: left;

  border-right: black solid 1px;
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 15% !important;

  max-width: 60px;
  text-overflow: ellipsis;
  padding-right: 15px;
}

.mat-column-description {
  white-space: nowrap !important;
  text-align: left;

  border-right: rgb(204, 204, 204) solid 1px;
  overflow: hidden;
  text-overflow: ellipsis; 
  width: 40% !important;

  max-width: 60px;
  text-overflow: ellipsis;

  padding-right: 15px;
  padding-left: 15px;
}

.mat-column-date{
  padding-left: 15px;
  width: 15% !important;
}

.mat-header-isDone{
  text-align: center;

}

.expand{
  color:cornflowerblue;
}

.done{
  color: mediumaquamarine;
}

.delete{
  color:palevioletred;
}