.container {
  height: 270px;
  position: fixed;
  /* display: inline-block; */
  padding: 0;
  /* border: 1px black solid; */
  /* margin: 0% 5% 0% 5%; */
  width:80%;
  left:10%;
  overflow: auto;
}

table {
  width: 100%;
  margin: 0;
}


.upper {
  margin-left: 20px;
  height: 30px;
  /* border: black 1px solid; */
  padding: 0;
  width: 100%;
}