<body>
    <div class="welcomepage">
        <!-- <button (click)="scrollToAnchor('contactemily')">clickme </button> -->
        <div class="noselectd welcome">
            <h1 class="noselect">Welcome To MyTodo</h1>
            <br class="noselect">
            <button mat-button class="" (click)="redirectSignIn()">Get Start!</button>
        </div>
    </div>
    <div class="wrapper">
        <div id="contactemily">
            Hi! it's emliy.
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================   
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================   
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================   
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================
            ============================  ============================   
            ============================  ============================
            ============================  ============================
            ============================  ============================

        </div>

        <div id="sourcecode">
            Source Code
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
            ++++++++++++++++++++++++++++  ++++++++++++++++++++++++++++
        </div>
    </div>
</body>