<body>
    <div class="welcomepage">
        <!-- <button (click)="scrollToAnchor('contactemily')">clickme </button> -->
        <div class="noselectd welcome">
            <h1 class="noselect">Welcome To MyTodo</h1>
            <br class="noselect">
            <button mat-button class="" (click)="redirectSignIn()">Get Start!</button>
        </div>
    </div>
    <div class="wrapper">
        <div id="contactemily">
            <div class="selfIntroducecontainer globalgridcontainer">
                <div class="photo">
                    <img class="profilephoto" src="assets/twl.jpg">
                </div>
                <div class="contact">
                    <ul>
                        <li>
                            <mat-icon>email</mat-icon>
                            <a href="mailto:w4tao@uwaterloo.ca">Contact me by email. I am responsive here.</a>
                        </li>
                        <li >
                            <img class="icon" src="assets/github.png"> 
                            <a (click)="goToLink('https://github.com/WeilanTao')">Checkout my projects on github!</a>
                        </li>
                        <li>
                            <img class="icon" src="assets/linkedinicon.jpg"> 
                            <a (click)="goToLink('https://www.linkedin.com/in/emily-weilan-tao/')">Please connect with me on Linkedin if I can help.</a>
                        </li>
    
                    </ul>
    
                </div>
             
                <div class="selfIntroduce">
                    <h2>Emily Tao</h2>
                    <h4>Hello! Welcome to MyTodo website!</h4>
                    <br>
                    <p>
                        
                        I major in Computer Engineering @ the University of Waterloo
                        <br>
                        I am a passionate Java developer profession in web development. I love to try various cool
                        technologies.
                        In my spare time, I enjoy charcoal painting, music and building personal projects.
                        <br>
                        Please feel free to contact me!
                    </p>
                </div>
            </div>
           
           
        </div>

        <div id="aboutthewebsite">
            <div class="aboutthewebsitecontainer">
           <H4> About the Website </H4>
           <br>
            <P>
                This website provide Todo list management for users. 
                <img class="sampleimg" src="assets/sample2.PNG"> 
                <br>
                Users with a role of user can create, and manage their todo events.
                <img class="sampleimg sampleimg1" src="assets/sample1.PNG"> 
                <br>
                
                Users with an admin role can approve a non-admin user for an admin role.
                He/She can also remove another admin user.
                Admin users also have the privilege to see a list of all the users.
            </P>
        </div>
        </div>
    </div>
</body>