<body>
    <div class="welcomepage">

        <div class="welcome">
            <h1 class="noselect">Welcome To MyTodo</h1>
            <br>
            <button class="btn btn-primary " (click)="redirectSignIn()">Get Start!</button>
        </div>
    </div>
    <div class="wrapper">
        <div>
            ========================================
            ========================================
            ========================================
            ========================================
            ======================================== 
            ========================================
            ========================================
            ======================================== 
            ========================================
            ======================================== 
            ========================================
            ========================================
        </div>
    </div>
</body>