<form [formGroup]="signupform" (ngSubmit)="signup()">
    <div class="wrapper">
        <h2>Sign Up</h2>

        <div formGroupName="account">
            <div class="username">
                <mat-form-field appearance="legacy">
                    <mat-label class="globalfont">User name</mat-label>
                    <input matInput id="username" name="username" class=" globalfont" 
                        formControlName="username" #userName (input)="inputUsername(userName)">
                    <mat-error *ngIf="username?.touched && username?.invalid 
                                        && username?.errors?.required">Username can't be empty </mat-error>
           
                    <!-- <div *ngIf="username?.errors?.maxLength">User name too long</div> -->
                </mat-form-field>
            </div>

            <div class="email">
                <mat-form-field appearance="legacy">
                    <mat-label class="globalfont">Email address</mat-label>
                    <input matInput type="email" id="email" name="email" class="globalfont" 
                        formControlName="email" #userEmail (input)="inputEmail(userEmail)">

                        <mat-error *ngIf="email?.touched && email?.invalid  &&   email?.errors?.required" >Email
                            can't be empty</mat-error>
                        <mat-error *ngIf="email?.touched && email?.invalid  &&   email?.errors?.email" >Please enter an vaild email</mat-error>
                </mat-form-field>
                
                 
            </div>


            <div class="password ">
                <mat-form-field appearance="legacy">
                    <mat-label class="globalfont">Password</mat-label>

                    <input matInput [type]="hide ? 'password' : 'text'" class="globalfont" formControlName="password" #userPasseord (input)="inputPassword(userPasseord)">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" type="button">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                      </button>

                      <mat-error *ngIf="password?.touched && password?.invalid  &&   password?.errors?.required" >Password
                        can't be empty</mat-error>

                </mat-form-field>

            </div>

            <!-- <p>FromGroupValues: {{ signupform.value | json }}</p> -->
        </div>

        <div *ngIf="userExists && !password?.touched && !email?.touched && !username?.touched " class="mat-error">
            User already exists.
        </div>

        <button mat-button [disabled]="!signupform.valid" class="globalfont" type="submit">Sign me
            up</button>
    </div>
</form>